/* cart.css */

.cart-container {
  width: 900px;
  height: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: left;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: bold;
}

.item-total {
  font-size: 14px;
}

.modify-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modify-button:hover {
  background-color: #0056b3;
}

.bag-selection {
  display: flex;
  align-items: center;
}

.bag-options {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.bag-price {
  margin-left: 10px;
}

.total-amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.checkout-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* 在按钮左侧添加一些间距 */
}
.checkout-area {
  display: flex;
  justify-content: flex-end; /* 使内容靠右对齐 */
  align-items: center;
  margin-top: 20px;
}
.checkout-button:hover {
  background-color: #0056b3;
}
.delete-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* 在按钮左侧添加一些间距 */
}