.subbar {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.subItem {
    margin: 0 10px;
}

.subLink {
    color: white;
    text-decoration: none;
}

